<header >  
    <div id="brand">
    <img src="/img/logo.png" alt="" srcset="">
    <h2>{{title}}</h2>
    </div>  

    <div id="links">
        <a href="/">Weather</a>
        <a href="/about">About</a>
        <a href="/help">Help</a>
    </div>
</header>
